# Project environment
.venv
.env

# Logs
logs
*.log

# exclude secrets
.env
.env*

# exclude cache
*.pyc
__pycache__/

# testing
.pytest_cache/
.coverage
htmlcov/

# exclude folder
temp/
todo/
.codewhale/